{% extends "base.html.twig" %}
{% block title %}Edition de mon profile{% endblock %}
{% block body %}
<div class="container">
<h1>Modification du profil</h1>


{{form_start(form)}}
{{form_widget(form)}}
<button type="submit" class="btn btn-primary">Valider les modifications</button>

</div>
{% endblock %}