    <div class="d-flex justify-content-center">
    <!--Si on intègre dans l'affichage de la pagination dans le service de pagination, on n'a plus besoin des lignes ci-dessous
    set route = value / set page = pagination.page / set pages = pagination.pages %} -->
    
        <ul class="pagination">     
            <li class="page-item {% if page == 1 %}disabled{% endif %}">
            <a class="page-link" href="{{path(route, {'page': page -1})}}">&laquo;</a>
            </li>
            {% for i in 1..pages %}                
                <li class="page-item {% if page == i %}active{% endif %}">
                <a class="page-link" href="{{path(route, {'page': i})}}">{{i}}</a>
                </li>
            {% endfor %}
            <li class="page-item {% if page == pages %}disabled{% endif %}">
            <a class="page-link" href="{{path(route, {'page': page +1})}}">&raquo;</a>
            </li>
        </ul>
    </div>