<!DOCTYPE html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <meta name="viewport" content="width=device-width, user-scalable=no">
        <link rel="stylesheet" href="{{asset('build/app.css')}}">
        <script src="https://kit.fontawesome.com/ff1b45b592.js" crossorigin="anonymous"></script>

      

        {% block stylesheets %}{% endblock %}
    </head>
    <body>
        {% include "partials/header.html.twig" %}

        {% block body %}

        {% endblock %}

        {% include "partials/footer.html.twig" %}
        <script src="{{ asset('build/app.js')}}"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

        {% block javascripts %}{% endblock %}
    </body>
</html>
