{% extends "base.html.twig" %}
{% block body %}
<div class="container">

        <div class="jumbotron mt-3">         
            <h1 class="display-3">Bienvenue sur SymBNB !</h1>
                <p class="lead">A la manièrede Rbnb, nous mettons ici en relation les voyageurs et propriétaires qui veulent profiter d'opportunités et gagner de l'argent en proposant leur bien à la location ! Le tout développé avec Symfony4</p>
                <hr class="my-4">
                <p>Vous êtes voyageur ? Et vous voulez voir où vous pourriez loger pour votre prochain déplacement ?</p>
                <p class="lead">
                  <a class="btn btn-primary btn-lg" href="#" role="button">Voir nos annonces</a>
                </p>
        </div>

        <h2 class="h1 my-5">Nos appartements stars</h2>
        <div class="row">
          <div class="col-md-4">
            <div class="card bg-light mb-3">
              <div class="card-header text-center">3 chambres, <strong>49&euro; / nuit</strong><br>
                <small>Pas encore noté</small>
              </div>
              <img src="http://placehold.it/1000x400" alt="Image de l'appartement" style="height:200px; width:100%; display:block">
              <div class="card-body">
                <h4 class="card-title">Appartement de ouf !</h4>
                <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis porro amet atque quo. Facere ea cupiditate, perspiciatis ullam sit est.
                </p>
                <a href="" class="btn btn-secondary">En savoir plus !</a>
              </div>         
            </div>
          </div>
          <div class="col-md-4">
            <div class="card bg-light mb-3">
              <div class="card-header text-center">3 chambres, <strong>49&euro; / nuit</strong><br>
                <small>Pas encore noté</small>
              </div>
              <img src="http://placehold.it/1000x400" alt="Image de l'appartement" style="height:200px; width:100%; display:block">
              <div class="card-body">
                <h4 class="card-title">Appartement de ouf !</h4>
                <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis porro amet atque quo. Facere ea cupiditate, perspiciatis ullam sit est.
                </p>
                <a href="" class="btn btn-secondary">En savoir plus !</a>
              </div>         
            </div>
          </div>
          <div class="col-md-4">
            <div class="card bg-light mb-3">
              <div class="card-header text-center">3 chambres, <strong>49&euro; / nuit</strong><br>
                <small>Pas encore noté</small>
              </div>
              <img src="http://placehold.it/1000x400" alt="Image de l'appartement" style="height:200px; width:100%; display:block">
              <div class="card-body">
                <h4 class="card-title">Appartement de ouf !</h4>
                <p class="card-text">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis porro amet atque quo. Facere ea cupiditate, perspiciatis ullam sit est.
                </p>
                <a href="" class="btn btn-secondary">En savoir plus !</a>
              </div>         
            </div>        
        </div>
        
        <h2 class="h1 my-5">Nos utlisateurs stars</h2>
        <div class="row">
          <div class="col-md-6">
            <div class="card border-secondary mb-3">
              <div class="card-body">
                <h4 class="card-title">Julie JDev</h4>
                <div class="card-text">
                  <img src="http://placehold.it/100X100" alt="Avatar de Julie Jeannet" class="float-left mr-3">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, repellendus.</p>
                    <a href="" class="btn btn-success">En savoir plus...</a>
                </div>
              </div>        
            </div>
          </div>
          <div class="col-md-6">
            <div class="card border-secondary mb-3">
              <div class="card-body">
                <h4 class="card-title">Julie JDev</h4>
                <div class="card-text">
                  <img src="http://placehold.it/100X100" alt="Avatar de Julie Jeannet" class="float-left mr-3">
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus, repellendus.</p>
                    <a href="" class="btn btn-success">En savoir plus...</a>
                </div>
              </div>        
            </div>
          </div>
      </div>
</div>
{% endblock %}
    
